// #ではじめた行の英語が全部大文字になるのを防ぐ設定
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
  word-wrap: break-word;
}

// ![]()で入れた画像の枠が出るのを防ぐ設定
.reveal section img {
  border: 0;
  box-shadow: none;
}